
    <h2>Edit Post</h2>
  </div>
 <div class="card" style="width: 18rem;"> <div class="card-body">
    <input type="hidden" name="post-id" value="{{post.id}}" />

    <label class="form-label" for="post-title">Title</label>
    <input type="text" name="post-title" value="{{post.title}}" class="form-input" />

    <label class="form-label" for="post-body">Content</label>
    <textarea name="post-body" class="form-input">{{post.body}}</textarea>

    <button type="Submit" class="btn btn-primary">Submit</button>

   <button type="button" class="btn btn-dark">Dark</button>
  </form>
</div>

<script src="/js/edit.js"></script>